* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
    background-color: #222;
    color: #ddd;
}

.center {
    text-align: center;
}

.spaced {
    margin: 1rem 0;
}
.box {
    padding: 0 1rem;
}

input,
button {
    padding: 0.5rem;
    background-color: #222;
    color: #ddd;
    outline: 2px solid #ddd;
}

input[type="color"] {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background: none;
    outline: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: solid 1px #222; /*change color of the swatch border here*/
    border-radius: 40px;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    padding: 0.5rem 1rem;
}

li {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 1fr 5fr 1fr;
}
